body
{
    background-image: url('../assets/');
    background-size: 100%;
}
.board
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto 0 auto;
}
.board-unit
{
    margin: 0 auto 0 auto;
    text-align: center;
}
p
{
    font-size: 40px;
    font-family: "Comic Sans MS";
    background: linear-gradient(#FF3531, #2EA3C5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
#p1, #p2
{
    font-size: 40px;
    font-family: "Comic Sans MS";
}
.player_act
{
   
    animation: 1s colorSwap1;
    animation-fill-mode: forwards;
}
/*@keyframes colorSwap1
{
    0% {
        background: #428bca;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: #808080;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}*/
.player_inact
{
    -webkit-text-stroke: 2px gray;
    animation: 1s colorSwap2;
    animation-fill-mode: forwards;
}
/*@keyframes colorSwap2
{
    0% {
        background: #808080;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: #428bca;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}*/
.button
{
    vertical-align: top;
    width: 200px;
    height: 200px;
    font-size: 5em;
    cursor: pointer;
    font-weight: bold;
    background: #428bca;
    color: white;
    border: #67a2d4 solid 6px;
    transition: all .03s ease-in-out;
}

.button:active
{
    transform: scale(0.8);
}
.button:hover
{
    background: #6098c9;
    border: #80add4 solid 6px;
}
.victory
{
    border: none;
    vertical-align: top;
    width: 200px;
    height: 200px;
    font-size: 5em;
    cursor: pointer;
    font-weight: bold;
    background: #54c263;
    color: white;
    border: #79c583 solid 6px;
    transition: all .03s ease-in-out;
}
#arrowvis
{
    visibility: hidden;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    margin: 20px auto 0 auto;
    display: block;
}
@keyframes fadeIn
{
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: rotate(180deg);
        visibility: visible;
        opacity: 1;
    }
}
#arrowhide
{
    visibility: visible;
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
    margin: 20px auto 0 auto;
    display: block;
}
@keyframes fadeOut
{
    0% 
    {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% 
    {
        
        transform: rotate(360deg) scale(0.5);
        visibility: hidden;
        opacity: 0;
    }
}
